/**
 *
 * {{ properCase componentName }}
 *
 */
{{#if wantMemo}}
import { memo } from 'react';
{{else}}
import * as React from 'react';
{{/if}}
{{#if wantStyledComponents}}
import { {{ properCase componentName }}Wrapper } from './styled';
{{/if}}
{{#if wantSaga}}
// [INSERT IMPORT SAGA] < Needed for generating containers seamlessly
{{/if}}

interface Props {}

{{#if wantMemo}}
const {{ properCase componentName }} = memo((props: Props) => {
{{else}}
function {{ properCase componentName }}(props: Props) {
{{/if}}
  {{#if wantSaga}}
  // [INSERT HOOK SAGA] < Needed for generating containers seamlessly

  {{/if}}
  return {{#if wantStyledComponents}}<{{ properCase componentName }}Wrapper>{{else}}<div>{{/if}}{{ properCase componentName }}{{#if wantStyledComponents}}</{{ properCase componentName }}Wrapper>{{else}}</div>{{/if}};
{{#if wantMemo}}
});
{{else}}
};
{{/if}}

export default {{ properCase componentName }};
